* {
	font-family: 'Merriweather';
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: #111;
	background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
	color: #fff;
	font-size: 2rem;

	font-family: 'Merriweather Sans', sans-serif;
}
.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 50px auto 200px;
	background-color: rgba(0, 0, 0, 0.2);
}

header {
	display: flex;
	padding-right: 2rem;
	justify-content: flex-end;
}
#prayer {
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	margin: 5rem;
}
button {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	border: none;
	padding: 5px;
	background: transparent;
}
a {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	border: none;
	padding: 5px;
	background: transparent;
	text-decoration: none;
}
a:visited {
	color: #fff;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto 5rem;
}
#scripture {
	align-items: center;
	display: flex;
	justify-content: center;
}
#scripture-text {
	font-size: 1.2em;
}
select {
	border-radius: 10px;
	border: none;
	padding: 5px;
	background-color: #fff;
	opacity: 0.5;
	margin-left: 1.5rem;
}
#place-name {
	position: fixed;
	bottom: 0;
	font-size: 12px;
}
.first-letter-uppercase:first-letter {
	text-transform: capitalize;
}
#username {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}
@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		height: fit-content;
	}
	main {
		margin: auto 1rem;
	}
	#prayer {
		margin: auto 1rem;
	}
}
